<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<!-- 폰트 추가 -->
<style>
    @font-face {
        font-family: 'D2Coding';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: 'D2Coding', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    }

    .highlight {
        font-size: 1.0em;  /* 코드 블록 폰트 사이즈 조정 */
    }

    code.language-plaintext {
        font-size: 1.0em;  /* 인라인 코드 블록 폰트 사이즈 조정 */
    }
</style>
